<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.certapp">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CERTApp">

        <activity
            android:name="MapsActivity"
            android:label="Map"
            android:exported="true">

        </activity>
        <activity
            android:name=".GroupChatActivity"
            android:exported="true" />
        <activity
            android:name=".reports.ReportsMainActivity"
            android:exported="true">

        </activity>


        <activity
            android:name=".Card.ReportsActivity"
            android:exported="true" />
        <activity
            android:name=".reports.ImagesActivity"
            android:exported="true" />
        <activity
            android:name=".ChatActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileManagement"
            android:exported="true" />
        <activity
            android:name=".HomeScreen"
            android:exported="true" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".Register" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>


</manifest>